.app-input {
    input {
        border-radius: 30px;
        border: none;
        margin-bottom: 20px;
        width: 100%;
        padding: 10px 20px;
        font-size: 18px;
        color: #877d88;
        font-family: "Roboto", sans-serif;
        outline: none;
    }
}
